<template>
  <div id="app" class="bg-grey">
    <b-navbar
      toggleable="lg"
      type="light"
      variant="light"
      class="border-bottom"
      sticky
      fixed="top"
    >
      <b-container class="d-flex justify-content-between">
        <div>
          <b-navbar-brand href="#" class="border-right pr-4"
            ><i class="fab fa-instagram lead align-self-center"></i
          ></b-navbar-brand>
          <b-img
            :src="require('./assets/1b47f9d0e595.png')"
            class="img-fluid w-50"
          ></b-img>
        </div>
        <b-nav-form class="d-flex position-relative">
          <b-form-input
            size="sm"
            class="text-center bg-grey border mr-sm-2"
            placeholder="Buscar"
          ></b-form-input>
          <b-button
            size="sm"
            class="my-2 my-sm-0 position-absolute text-muted"
            type="submit"
            variant="link"
            ><i class="fas fa-search"></i
          ></b-button>
        </b-nav-form>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav class="w-auto">
          <b-navbar-nav class="ml-auto">
            <b-nav-item href="#"
              ><i class="far fa-compass lead text-dark mr-3"></i
            ></b-nav-item>
            <b-nav-item href="#"
              ><i class="far fa-heart lead text-dark mr-3"></i
            ></b-nav-item>
            <b-nav-item href="#"
              ><i class="far fa-user lead text-dark"></i
            ></b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>

    <section class="py-3">
      <b-container class="my-4">
        <b-row>
          <b-col lg="8">
            <b-card no-body class="mb-5">
              <b-card-body class="py-3 d-flex">
                <div class="d-flex flex-grow-1">
                  <div class="profile-picture rounded-circle mr-3"></div>
                  <b-link
                    href="#"
                    class="text-dark text-decoration-none font-weight-bold align-self-center"
                    >autosdeportivos</b-link
                  >
                </div>
                <div class="align-self-center">
                  <i class="fas fa-ellipsis-h"></i>
                </div>
              </b-card-body>
              <b-img :src="require('./assets/carro.jpg')" fluid></b-img>
              <b-card-body>
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <i class="far fa-heart lead mr-3"></i>
                    <i class="far fa-comment lead mr-3"></i>
                    <i class="far fa-paper-plane lead"></i>
                  </div>
                  <div class="">
                    <i class="far fa-bookmark lead"></i>
                  </div>
                </div>
                <p class="font-weight-bold mb-2">39 Me gusta</p>
                <p class="mb-0">
                  <b-link
                    href="#"
                    class="text-dark font-weight-bold text-decoration-none"
                    >autosdeportivos</b-link
                  >
                  Nuevo Record de Aceleración, de 0 a 100km en 2s.
                </p>
                <div class="d-flex mb-2">
                  <p class="flex-grow-1 mb-0">
                    <b-link
                      class="text-dark font-weight-bold text-decoration-none"
                      href="#"
                      >rblondell</b-link
                    >
                    Está increible el nuevo modelo
                  </p>
                  <i class="far fa-heart align-self-center"></i>
                </div>
                <small class="d-block text-muted text-uppercase"
                  >hace 8 horas</small
                >
              </b-card-body>
              <div class="d-flex border-top py-2 px-2">
                <i
                  class="far fa-smile align-self-center ml-2"
                  style="font-size: 25px; color: #262626a1"
                ></i>
                <b-form-input
                  placeholder="Agrega un comentario..."
                  class="border-0"
                ></b-form-input>
                <b-button
                  type="submit"
                  variant="link"
                  class="font-weight-bold text-decoration-none"
                  >Publicar</b-button
                >
              </div>
            </b-card>
            <b-card no-body class="mb-5">
              <b-card-body class="py-3 d-flex">
                <div class="d-flex flex-grow-1">
                  <div class="profile-picture rounded-circle mr-3"></div>
                  <b-link
                    href="#"
                    class="text-dark text-decoration-none font-weight-bold align-self-center"
                    >autosdeportivos</b-link
                  >
                </div>
                <div class="align-self-center">
                  <i class="fas fa-ellipsis-h"></i>
                </div>
              </b-card-body>
              <b-img :src="require('./assets/carro.jpg')" fluid></b-img>
              <b-card-body>
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <i class="far fa-heart lead mr-3"></i>
                    <i class="far fa-comment lead mr-3"></i>
                    <i class="far fa-paper-plane lead"></i>
                  </div>
                  <div class="">
                    <i class="far fa-bookmark lead"></i>
                  </div>
                </div>
                <p class="font-weight-bold mb-2">39 Me gusta</p>
                <p class="mb-0">
                  <b-link
                    href="#"
                    class="text-dark font-weight-bold text-decoration-none"
                    >autosdeportivos</b-link
                  >
                  Nuevo Record de Aceleración, de 0 a 100km en 2s.
                </p>
                <div class="d-flex mb-2">
                  <p class="flex-grow-1 mb-0">
                    <b-link
                      class="text-dark font-weight-bold text-decoration-none"
                      href="#"
                      >rblondell</b-link
                    >
                    Está increible el nuevo modelo
                  </p>
                  <i class="far fa-heart align-self-center"></i>
                </div>
                <small class="d-block text-muted text-uppercase"
                  >hace 8 horas</small
                >
              </b-card-body>
              <div class="d-flex border-top py-2 px-2">
                <i
                  class="far fa-smile align-self-center ml-2"
                  style="font-size: 25px; color: #262626a1"
                ></i>
                <b-form-input
                  placeholder="Agrega un comentario..."
                  class="border-0"
                ></b-form-input>
                <b-button
                  type="submit"
                  variant="link"
                  class="font-weight-bold text-decoration-none"
                  >Publicar</b-button
                >
              </div>
            </b-card>
            <b-card no-body>
              <b-card-body class="py-3 d-flex">
                <div class="d-flex flex-grow-1">
                  <div class="profile-picture rounded-circle mr-3"></div>
                  <b-link
                    href="#"
                    class="text-dark text-decoration-none font-weight-bold align-self-center"
                    >autosdeportivos</b-link
                  >
                </div>
                <div class="align-self-center">
                  <i class="fas fa-ellipsis-h"></i>
                </div>
              </b-card-body>
              <b-img :src="require('./assets/carro.jpg')" fluid></b-img>
              <b-card-body>
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <i class="far fa-heart lead mr-3"></i>
                    <i class="far fa-comment lead mr-3"></i>
                    <i class="far fa-paper-plane lead"></i>
                  </div>
                  <div class="">
                    <i class="far fa-bookmark lead"></i>
                  </div>
                </div>
                <p class="font-weight-bold mb-2">39 Me gusta</p>
                <p class="mb-0">
                  <b-link
                    href="#"
                    class="text-dark font-weight-bold text-decoration-none"
                    >autosdeportivos</b-link
                  >
                  Nuevo Record de Aceleración, de 0 a 100km en 2s.
                </p>
                <div class="d-flex mb-2">
                  <p class="flex-grow-1 mb-0">
                    <b-link
                      class="text-dark font-weight-bold text-decoration-none"
                      href="#"
                      >rblondell</b-link
                    >
                    Está increible el nuevo modelo
                  </p>
                  <i class="far fa-heart align-self-center"></i>
                </div>
                <small class="d-block text-muted text-uppercase"
                  >hace 8 horas</small
                >
              </b-card-body>
              <div class="d-flex border-top py-2 px-2">
                <i
                  class="far fa-smile align-self-center ml-2"
                  style="font-size: 25px; color: #262626a1"
                ></i>
                <b-form-input
                  placeholder="Agrega un comentario..."
                  class="border-0"
                ></b-form-input>
                <b-button
                  type="submit"
                  variant="link"
                  class="font-weight-bold text-decoration-none"
                  >Publicar</b-button
                >
              </div>
            </b-card>
          </b-col>
          <b-col lg="4">
            <div class="d-flex mb-4">
              <div class="profile-picture2 rounded-circle mr-3"></div>
              <div>
                <b-link
                  href="#"
                  class="d-block text-dark text-decoration-none font-weight-bold mb-0"
                  >rblondell</b-link
                >
                <small class="text-muted">Raymond Blondell</small>
              </div>
            </div>

            <b-card no-body class="mb-4">
              <b-card-body>
                <div class="d-flex">
                  <p class="text-muted font-weight-bold flex-grow-1">Stories</p>
                  <small class="font-weight-bold"
                    ><b-link href="#" class="text-decoration-none text-dark"
                      >Ver todas</b-link
                    ></small
                  >
                </div>

                <div class="stories-container">
                  <div class="d-flex mb-2">
                    <div
                      class="profile-picture rounded-circle mr-3 align-self-center"
                    ></div>
                    <div class="">
                      <b-link
                        href="#"
                        class="text-dark text-decoration-none d-block font-weight-bold"
                        w-1
                        >vuejs</b-link
                      >
                      <small class="text-uppercase text-muted"
                        >Hace 3 horas</small
                      >
                    </div>
                  </div>

                  <div class="d-flex mb-2">
                    <div
                      class="profile-picture rounded-circle mr-3 align-self-center"
                    ></div>
                    <div class="">
                      <b-link
                        href="#"
                        class="text-dark text-decoration-none d-block font-weight-bold"
                        w-1
                        >vuejs</b-link
                      >
                      <small class="text-uppercase text-muted"
                        >Hace 3 horas</small
                      >
                    </div>
                  </div>

                  <div class="d-flex mb-2">
                    <div
                      class="profile-picture rounded-circle mr-3 align-self-center"
                    ></div>
                    <div class="">
                      <b-link
                        href="#"
                        class="text-dark text-decoration-none d-block font-weight-bold"
                        w-1
                        >vuejs</b-link
                      >
                      <small class="text-uppercase text-muted"
                        >Hace 3 horas</small
                      >
                    </div>
                  </div>

                  <div class="d-flex">
                    <div
                      class="profile-picture rounded-circle mr-3 align-self-center"
                    ></div>
                    <div class="">
                      <b-link
                        href="#"
                        class="text-dark text-decoration-none d-block font-weight-bold"
                        w-1
                        >vuejs</b-link
                      >
                      <small class="text-uppercase text-muted"
                        >Hace 3 horas</small
                      >
                    </div>
                  </div>
                </div>
              </b-card-body>
            </b-card>

            <b-card no-body class="mb-4">
              <b-card-body>
                <div class="d-flex">
                  <p class="text-muted font-weight-bold flex-grow-1">
                    Sugerencias para ti
                  </p>
                  <small class="font-weight-bold"
                    ><b-link href="#" class="text-decoration-none text-dark"
                      >Ver todo</b-link
                    ></small
                  >
                </div>

                <div class="">
                  <div class="d-flex mb-2">
                    <div
                      class="profile-picture rounded-circle mr-3 align-self-center"
                    ></div>
                    <div class="">
                      <b-link
                        href="#"
                        class="text-dark text-decoration-none d-block font-weight-bold"
                        w-1
                        >vuejs</b-link
                      >
                      <small class="text-muted">Nuevo en Instagram</small>
                    </div>
                    <div class="d-flex flex-grow-1">
                      <b-link
                        href="#"
                        class="ml-auto text-decoration-none font-weight-bold"
                        >Seguir</b-link
                      >
                    </div>
                  </div>

                  <div class="d-flex mb-2">
                    <div
                      class="profile-picture rounded-circle mr-3 align-self-center"
                    ></div>
                    <div class="">
                      <b-link
                        href="#"
                        class="text-dark text-decoration-none d-block font-weight-bold"
                        w-1
                        >vuejs</b-link
                      >
                      <small class="text-muted">Nuevo en Instagram</small>
                    </div>
                    <div class="d-flex flex-grow-1">
                      <b-link
                        href="#"
                        class="ml-auto text-decoration-none font-weight-bold"
                        >Seguir</b-link
                      >
                    </div>
                  </div>

                  <div class="d-flex">
                    <div
                      class="profile-picture rounded-circle mr-3 align-self-center"
                    ></div>
                    <div class="">
                      <b-link
                        href="#"
                        class="text-dark text-decoration-none d-block font-weight-bold"
                        w-1
                        >vuejs</b-link
                      >
                      <small class="text-muted">Nuevo en Instagram</small>
                    </div>
                    <div class="d-flex flex-grow-1">
                      <b-link
                        href="#"
                        class="ml-auto text-decoration-none font-weight-bold"
                        >Seguir</b-link
                      >
                    </div>
                  </div>
                </div>
              </b-card-body>
            </b-card>
            <small class="text-muted"
              >Información - Ayuda - Prensa - API - Empleo - Privacidad -
              Condiciones - Ubicaciones - Cuentas destacadas - Hashtags -
              Idioma</small
            >
            <br />
            <small class="text-muted">© 2021 INSTAGRAM FROM FACEBOOK</small>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style>
#app {
  color: #262626ce !important;
}

:root {
  --grey: #fafafa;
  --white: #ffffff;
  --blue: #0095f6;
}

.bg-grey {
  background-color: var(--grey);
}
.bg-light {
  background-color: var(--white) !important;
}

.navbar {
  min-height: 1rem;
}

/* a {
    color: var(--blue) !important
} */

i.lead {
  font-size: 1.8rem;
}

.form-control:focus {
  box-shadow: none;
}
.profile-picture {
  background-image: url("./assets/carro.jpg");
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.profile-picture2 {
  background-image: url("./assets/carro.jpg");
  background-size: cover;
  width: 3.5rem;
  height: 3.5rem;
}

.stories-container {
  height: 190px;
  overflow-y: auto;
}
</style>
